CRySTALManager/Service References/CRySTALManagerService/ManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/ManagerService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/ManagerService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/ManagerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRySTAL" />
      <xsd:import schemaLocation="http://localhost:8000/ManagerService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManagerService_GetAllEmployeesOnDuty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeesOnDuty" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetAllEmployeesOnDuty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeesOnDutyResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetShiftsForEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShiftsForEmployees" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetShiftsForEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShiftsForEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_AddShift_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShift" />
  </wsdl:message>
  <wsdl:message name="IManagerService_AddShift_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShiftResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_RemoveShift_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveShift" />
  </wsdl:message>
  <wsdl:message name="IManagerService_RemoveShift_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveShiftResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_EditShift_InputMessage">
    <wsdl:part name="parameters" element="tns:EditShift" />
  </wsdl:message>
  <wsdl:message name="IManagerService_EditShift_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditShiftResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetAllEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployees" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetAllEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IManagerService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_ChangeUserPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserPassword" />
  </wsdl:message>
  <wsdl:message name="IManagerService_ChangeUserPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_RemoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUser" />
  </wsdl:message>
  <wsdl:message name="IManagerService_RemoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_AddUserToRole_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToRole" />
  </wsdl:message>
  <wsdl:message name="IManagerService_AddUserToRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_RemoveUserFromRole_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserFromRole" />
  </wsdl:message>
  <wsdl:message name="IManagerService_RemoveUserFromRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserFromRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactions" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetPayroleReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPayroleReport" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetPayroleReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPayroleReportResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatistics" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetTopSellers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopSellers" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetTopSellers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopSellersResponse" />
  </wsdl:message>
  <wsdl:portType name="IManagerService">
    <wsdl:operation name="GetAllEmployeesOnDuty">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetAllEmployeesOnDuty" message="tns:IManagerService_GetAllEmployeesOnDuty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetAllEmployeesOnDutyResponse" message="tns:IManagerService_GetAllEmployeesOnDuty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShiftsForEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetShiftsForEmployees" message="tns:IManagerService_GetShiftsForEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetShiftsForEmployeesResponse" message="tns:IManagerService_GetShiftsForEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShift">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/AddShift" message="tns:IManagerService_AddShift_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/AddShiftResponse" message="tns:IManagerService_AddShift_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveShift">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/RemoveShift" message="tns:IManagerService_RemoveShift_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/RemoveShiftResponse" message="tns:IManagerService_RemoveShift_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditShift">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/EditShift" message="tns:IManagerService_EditShift_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/EditShiftResponse" message="tns:IManagerService_EditShift_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetAllEmployees" message="tns:IManagerService_GetAllEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetAllEmployeesResponse" message="tns:IManagerService_GetAllEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/AddUser" message="tns:IManagerService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/AddUserResponse" message="tns:IManagerService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUserPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/ChangeUserPassword" message="tns:IManagerService_ChangeUserPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/ChangeUserPasswordResponse" message="tns:IManagerService_ChangeUserPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/RemoveUser" message="tns:IManagerService_RemoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/RemoveUserResponse" message="tns:IManagerService_RemoveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/AddUserToRole" message="tns:IManagerService_AddUserToRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/AddUserToRoleResponse" message="tns:IManagerService_AddUserToRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/RemoveUserFromRole" message="tns:IManagerService_RemoveUserFromRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/RemoveUserFromRoleResponse" message="tns:IManagerService_RemoveUserFromRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetTransactions" message="tns:IManagerService_GetTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetTransactionsResponse" message="tns:IManagerService_GetTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPayroleReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetPayroleReport" message="tns:IManagerService_GetPayroleReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetPayroleReportResponse" message="tns:IManagerService_GetPayroleReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatistics">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetStatistics" message="tns:IManagerService_GetStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetStatisticsResponse" message="tns:IManagerService_GetStatistics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopSellers">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetTopSellers" message="tns:IManagerService_GetTopSellers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetTopSellersResponse" message="tns:IManagerService_GetTopSellers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IManagerService" type="tns:IManagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllEmployeesOnDuty">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetAllEmployeesOnDuty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShiftsForEmployees">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetShiftsForEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShift">
      <soap:operation soapAction="http://tempuri.org/IManagerService/AddShift" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveShift">
      <soap:operation soapAction="http://tempuri.org/IManagerService/RemoveShift" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditShift">
      <soap:operation soapAction="http://tempuri.org/IManagerService/EditShift" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetAllEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IManagerService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUserPassword">
      <soap:operation soapAction="http://tempuri.org/IManagerService/ChangeUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap:operation soapAction="http://tempuri.org/IManagerService/RemoveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToRole">
      <soap:operation soapAction="http://tempuri.org/IManagerService/AddUserToRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromRole">
      <soap:operation soapAction="http://tempuri.org/IManagerService/RemoveUserFromRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactions">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPayroleReport">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetPayroleReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatistics">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopSellers">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetTopSellers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagerService">
    <wsdl:port name="BasicHttpBinding_IManagerService" binding="tns:BasicHttpBinding_IManagerService">
      <soap:address location="http://localhost:8000/ManagerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>