CRySTALManager/Service References/CRySTALMenu/MenuService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="MenuService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/MenuService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/MenuService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/MenuService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRySTAL" />
      <xsd:import schemaLocation="http://localhost:8000/MenuService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMenuService_getAllMenuItems_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllMenuItems" />
  </wsdl:message>
  <wsdl:message name="IMenuService_getAllMenuItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllMenuItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_getAllMenuItemsFromMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllMenuItemsFromMenu" />
  </wsdl:message>
  <wsdl:message name="IMenuService_getAllMenuItemsFromMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllMenuItemsFromMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_getMenuNames_InputMessage">
    <wsdl:part name="parameters" element="tns:getMenuNames" />
  </wsdl:message>
  <wsdl:message name="IMenuService_getMenuNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMenuNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_getMenuCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:getMenuCategories" />
  </wsdl:message>
  <wsdl:message name="IMenuService_getMenuCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMenuCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_getMenuCategoriesFromMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:getMenuCategoriesFromMenu" />
  </wsdl:message>
  <wsdl:message name="IMenuService_getMenuCategoriesFromMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMenuCategoriesFromMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_getMenuSubcategories_InputMessage">
    <wsdl:part name="parameters" element="tns:getMenuSubcategories" />
  </wsdl:message>
  <wsdl:message name="IMenuService_getMenuSubcategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMenuSubcategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_getMenuSubcategoriesFromMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:getMenuSubcategoriesFromMenu" />
  </wsdl:message>
  <wsdl:message name="IMenuService_getMenuSubcategoriesFromMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMenuSubcategoriesFromMenuResponse" />
  </wsdl:message>
  <wsdl:portType name="IMenuService">
    <wsdl:operation name="getAllMenuItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/getAllMenuItems" message="tns:IMenuService_getAllMenuItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/getAllMenuItemsResponse" message="tns:IMenuService_getAllMenuItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllMenuItemsFromMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/getAllMenuItemsFromMenu" message="tns:IMenuService_getAllMenuItemsFromMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/getAllMenuItemsFromMenuResponse" message="tns:IMenuService_getAllMenuItemsFromMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMenuNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/getMenuNames" message="tns:IMenuService_getMenuNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/getMenuNamesResponse" message="tns:IMenuService_getMenuNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMenuCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/getMenuCategories" message="tns:IMenuService_getMenuCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/getMenuCategoriesResponse" message="tns:IMenuService_getMenuCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMenuCategoriesFromMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/getMenuCategoriesFromMenu" message="tns:IMenuService_getMenuCategoriesFromMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/getMenuCategoriesFromMenuResponse" message="tns:IMenuService_getMenuCategoriesFromMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMenuSubcategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/getMenuSubcategories" message="tns:IMenuService_getMenuSubcategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/getMenuSubcategoriesResponse" message="tns:IMenuService_getMenuSubcategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMenuSubcategoriesFromMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/getMenuSubcategoriesFromMenu" message="tns:IMenuService_getMenuSubcategoriesFromMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/getMenuSubcategoriesFromMenuResponse" message="tns:IMenuService_getMenuSubcategoriesFromMenu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMenuService" type="tns:IMenuService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllMenuItems">
      <soap:operation soapAction="http://tempuri.org/IMenuService/getAllMenuItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllMenuItemsFromMenu">
      <soap:operation soapAction="http://tempuri.org/IMenuService/getAllMenuItemsFromMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMenuNames">
      <soap:operation soapAction="http://tempuri.org/IMenuService/getMenuNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMenuCategories">
      <soap:operation soapAction="http://tempuri.org/IMenuService/getMenuCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMenuCategoriesFromMenu">
      <soap:operation soapAction="http://tempuri.org/IMenuService/getMenuCategoriesFromMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMenuSubcategories">
      <soap:operation soapAction="http://tempuri.org/IMenuService/getMenuSubcategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMenuSubcategoriesFromMenu">
      <soap:operation soapAction="http://tempuri.org/IMenuService/getMenuSubcategoriesFromMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MenuService">
    <wsdl:port name="BasicHttpBinding_IMenuService" binding="tns:BasicHttpBinding_IMenuService">
      <soap:address location="http://localhost:8000/MenuService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>