CRySTALClient/Service References/CRySTALWaiter/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/WaiterService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRySTAL" />
  <xs:import schemaLocation="http://localhost:8000/WaiterService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="PlaceOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CRySTAL" minOccurs="0" name="order" nillable="true" type="q1:FoodOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlaceOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemToBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CRySTAL" minOccurs="0" name="order" nillable="true" type="q2:FoodOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemToBillResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReturnedOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReturnedOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CRySTAL" minOccurs="0" name="GetReturnedOrdersResult" nillable="true" type="q3:ArrayOfRejectedOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentTables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentTablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCurrentTablesResult" nillable="true" type="q4:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInPaymentTables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInPaymentTablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetInPaymentTablesResult" nillable="true" type="q5:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkPaied">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tblNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkPaiedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceipt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tblNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CRySTAL" minOccurs="0" name="GetReceiptResult" nillable="true" type="q6:ArrayOfBillItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>