CRySTALClient/Service References/CRySTALWaiter/WaiterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="WaiterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/WaiterService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/WaiterService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/WaiterService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRySTAL" />
      <xsd:import schemaLocation="http://localhost:8000/WaiterService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWaiterService_PlaceOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:PlaceOrder" />
  </wsdl:message>
  <wsdl:message name="IWaiterService_PlaceOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlaceOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IWaiterService_AddItemToBill_InputMessage">
    <wsdl:part name="parameters" element="tns:AddItemToBill" />
  </wsdl:message>
  <wsdl:message name="IWaiterService_AddItemToBill_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddItemToBillResponse" />
  </wsdl:message>
  <wsdl:message name="IWaiterService_GetReturnedOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReturnedOrders" />
  </wsdl:message>
  <wsdl:message name="IWaiterService_GetReturnedOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReturnedOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IWaiterService_GetCurrentTables_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentTables" />
  </wsdl:message>
  <wsdl:message name="IWaiterService_GetCurrentTables_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentTablesResponse" />
  </wsdl:message>
  <wsdl:message name="IWaiterService_GetInPaymentTables_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInPaymentTables" />
  </wsdl:message>
  <wsdl:message name="IWaiterService_GetInPaymentTables_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInPaymentTablesResponse" />
  </wsdl:message>
  <wsdl:message name="IWaiterService_MarkPaid_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkPaid" />
  </wsdl:message>
  <wsdl:message name="IWaiterService_MarkPaid_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarkPaidResponse" />
  </wsdl:message>
  <wsdl:message name="IWaiterService_GetReceipt_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReceipt" />
  </wsdl:message>
  <wsdl:message name="IWaiterService_GetReceipt_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiptResponse" />
  </wsdl:message>
  <wsdl:portType name="IWaiterService">
    <wsdl:operation name="PlaceOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaiterService/PlaceOrder" message="tns:IWaiterService_PlaceOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaiterService/PlaceOrderResponse" message="tns:IWaiterService_PlaceOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddItemToBill">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaiterService/AddItemToBill" message="tns:IWaiterService_AddItemToBill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaiterService/AddItemToBillResponse" message="tns:IWaiterService_AddItemToBill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReturnedOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaiterService/GetReturnedOrders" message="tns:IWaiterService_GetReturnedOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaiterService/GetReturnedOrdersResponse" message="tns:IWaiterService_GetReturnedOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTables">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaiterService/GetCurrentTables" message="tns:IWaiterService_GetCurrentTables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaiterService/GetCurrentTablesResponse" message="tns:IWaiterService_GetCurrentTables_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInPaymentTables">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaiterService/GetInPaymentTables" message="tns:IWaiterService_GetInPaymentTables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaiterService/GetInPaymentTablesResponse" message="tns:IWaiterService_GetInPaymentTables_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarkPaid">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaiterService/MarkPaid" message="tns:IWaiterService_MarkPaid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaiterService/MarkPaidResponse" message="tns:IWaiterService_MarkPaid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReceipt">
      <wsdl:input wsaw:Action="http://tempuri.org/IWaiterService/GetReceipt" message="tns:IWaiterService_GetReceipt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWaiterService/GetReceiptResponse" message="tns:IWaiterService_GetReceipt_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWaiterService" type="tns:IWaiterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PlaceOrder">
      <soap:operation soapAction="http://tempuri.org/IWaiterService/PlaceOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddItemToBill">
      <soap:operation soapAction="http://tempuri.org/IWaiterService/AddItemToBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReturnedOrders">
      <soap:operation soapAction="http://tempuri.org/IWaiterService/GetReturnedOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTables">
      <soap:operation soapAction="http://tempuri.org/IWaiterService/GetCurrentTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInPaymentTables">
      <soap:operation soapAction="http://tempuri.org/IWaiterService/GetInPaymentTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkPaid">
      <soap:operation soapAction="http://tempuri.org/IWaiterService/MarkPaid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceipt">
      <soap:operation soapAction="http://tempuri.org/IWaiterService/GetReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WaiterService">
    <wsdl:port name="BasicHttpBinding_IWaiterService" binding="tns:BasicHttpBinding_IWaiterService">
      <soap:address location="http://localhost:8000/WaiterService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>