CRySTALClient/Service References/CrystalHost/HostService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="HostService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/HostService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/HostService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/HostService/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8000/HostService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CRySTAL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHostService_GetTables_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTables" />
  </wsdl:message>
  <wsdl:message name="IHostService_GetTables_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTablesResponse" />
  </wsdl:message>
  <wsdl:message name="IHostService_GetFreeTablesAt_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFreeTablesAt" />
  </wsdl:message>
  <wsdl:message name="IHostService_GetFreeTablesAt_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFreeTablesAtResponse" />
  </wsdl:message>
  <wsdl:message name="IHostService_AssignTableTo_InputMessage">
    <wsdl:part name="parameters" element="tns:AssignTableTo" />
  </wsdl:message>
  <wsdl:message name="IHostService_AssignTableTo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssignTableToResponse" />
  </wsdl:message>
  <wsdl:message name="IHostService_GetWaitersOnDuty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWaitersOnDuty" />
  </wsdl:message>
  <wsdl:message name="IHostService_GetWaitersOnDuty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWaitersOnDutyResponse" />
  </wsdl:message>
  <wsdl:message name="IHostService_BreakReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:BreakReservation" />
  </wsdl:message>
  <wsdl:message name="IHostService_BreakReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:BreakReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IHostService_GetReservations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReservations" />
  </wsdl:message>
  <wsdl:message name="IHostService_GetReservations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReservationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IHostService">
    <wsdl:operation name="GetTables">
      <wsdl:input wsaw:Action="http://tempuri.org/IHostService/GetTables" message="tns:IHostService_GetTables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHostService/GetTablesResponse" message="tns:IHostService_GetTables_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFreeTablesAt">
      <wsdl:input wsaw:Action="http://tempuri.org/IHostService/GetFreeTablesAt" message="tns:IHostService_GetFreeTablesAt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHostService/GetFreeTablesAtResponse" message="tns:IHostService_GetFreeTablesAt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssignTableTo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHostService/AssignTableTo" message="tns:IHostService_AssignTableTo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHostService/AssignTableToResponse" message="tns:IHostService_AssignTableTo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWaitersOnDuty">
      <wsdl:input wsaw:Action="http://tempuri.org/IHostService/GetWaitersOnDuty" message="tns:IHostService_GetWaitersOnDuty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHostService/GetWaitersOnDutyResponse" message="tns:IHostService_GetWaitersOnDuty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BreakReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IHostService/BreakReservation" message="tns:IHostService_BreakReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHostService/BreakReservationResponse" message="tns:IHostService_BreakReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReservations">
      <wsdl:input wsaw:Action="http://tempuri.org/IHostService/GetReservations" message="tns:IHostService_GetReservations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHostService/GetReservationsResponse" message="tns:IHostService_GetReservations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHostService" type="tns:IHostService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTables">
      <soap:operation soapAction="http://tempuri.org/IHostService/GetTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFreeTablesAt">
      <soap:operation soapAction="http://tempuri.org/IHostService/GetFreeTablesAt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignTableTo">
      <soap:operation soapAction="http://tempuri.org/IHostService/AssignTableTo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWaitersOnDuty">
      <soap:operation soapAction="http://tempuri.org/IHostService/GetWaitersOnDuty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BreakReservation">
      <soap:operation soapAction="http://tempuri.org/IHostService/BreakReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReservations">
      <soap:operation soapAction="http://tempuri.org/IHostService/GetReservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HostService">
    <wsdl:port name="BasicHttpBinding_IHostService" binding="tns:BasicHttpBinding_IHostService">
      <soap:address location="http://localhost:8000/HostService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>