CRySTALClient/Service References/CrystalHost/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CRySTAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CRySTAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="TableTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Clean" />
      <xs:enumeration value="InUse" />
      <xs:enumeration value="Dirty" />
      <xs:enumeration value="Cleaning" />
      <xs:enumeration value="CannotBeUsed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TableTypes" nillable="true" type="tns:TableTypes" />
  <xs:complexType name="ArrayOfBasicEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BasicEmployee" nillable="true" type="tns:BasicEmployee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBasicEmployee" nillable="true" type="tns:ArrayOfBasicEmployee" />
  <xs:complexType name="BasicEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicEmployee" nillable="true" type="tns:BasicEmployee" />
  <xs:complexType name="ArrayOfReservation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reservation" nillable="true" type="tns:Reservation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservation" nillable="true" type="tns:ArrayOfReservation" />
  <xs:complexType name="Reservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Table" type="xs:int" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reservation" nillable="true" type="tns:Reservation" />
</xs:schema>