CRySTALClient/Service References/CrystalHost/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/HostService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CRySTAL" />
  <xs:complexType name="ArrayOfKeyValueOfTableTypesArrayOfintiRKpOLgl">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfTableTypesArrayOfintiRKpOLgl">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CRySTAL" name="Key" type="q1:TableTypes" />
            <xs:element name="Value" nillable="true" type="tns:ArrayOfint" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfTableTypesArrayOfintiRKpOLgl" nillable="true" type="tns:ArrayOfKeyValueOfTableTypesArrayOfintiRKpOLgl" />
  <xs:complexType name="ArrayOfint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfint" nillable="true" type="tns:ArrayOfint" />
</xs:schema>