CRySTALClient/Service References/CRySTALTimeCard/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CRySTAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CRySTAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfShiftData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShiftData" nillable="true" type="tns:ShiftData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShiftData" nillable="true" type="tns:ArrayOfShiftData" />
  <xs:complexType name="ShiftData">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HoursWorked" type="xs:decimal" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShiftID" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShiftData" nillable="true" type="tns:ShiftData" />
</xs:schema>