CRySTALClient/Service References/CRySTALTimeCard/TimeCardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="TimeCardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/TimeCardService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/TimeCardService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/TimeCardService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRySTAL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITimeCardService_StampShiftStart_InputMessage">
    <wsdl:part name="parameters" element="tns:StampShiftStart" />
  </wsdl:message>
  <wsdl:message name="ITimeCardService_StampShiftStart_OutputMessage">
    <wsdl:part name="parameters" element="tns:StampShiftStartResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeCardService_StampShiftEnd_InputMessage">
    <wsdl:part name="parameters" element="tns:StampShiftEnd" />
  </wsdl:message>
  <wsdl:message name="ITimeCardService_StampShiftEnd_OutputMessage">
    <wsdl:part name="parameters" element="tns:StampShiftEndResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeCardService_CanStampOut_InputMessage">
    <wsdl:part name="parameters" element="tns:CanStampOut" />
  </wsdl:message>
  <wsdl:message name="ITimeCardService_CanStampOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanStampOutResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeCardService_GetLastWeeksShifts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastWeeksShifts" />
  </wsdl:message>
  <wsdl:message name="ITimeCardService_GetLastWeeksShifts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastWeeksShiftsResponse" />
  </wsdl:message>
  <wsdl:portType name="ITimeCardService">
    <wsdl:operation name="StampShiftStart">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeCardService/StampShiftStart" message="tns:ITimeCardService_StampShiftStart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeCardService/StampShiftStartResponse" message="tns:ITimeCardService_StampShiftStart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StampShiftEnd">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeCardService/StampShiftEnd" message="tns:ITimeCardService_StampShiftEnd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeCardService/StampShiftEndResponse" message="tns:ITimeCardService_StampShiftEnd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanStampOut">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeCardService/CanStampOut" message="tns:ITimeCardService_CanStampOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeCardService/CanStampOutResponse" message="tns:ITimeCardService_CanStampOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastWeeksShifts">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeCardService/GetLastWeeksShifts" message="tns:ITimeCardService_GetLastWeeksShifts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeCardService/GetLastWeeksShiftsResponse" message="tns:ITimeCardService_GetLastWeeksShifts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITimeCardService" type="tns:ITimeCardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StampShiftStart">
      <soap:operation soapAction="http://tempuri.org/ITimeCardService/StampShiftStart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StampShiftEnd">
      <soap:operation soapAction="http://tempuri.org/ITimeCardService/StampShiftEnd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanStampOut">
      <soap:operation soapAction="http://tempuri.org/ITimeCardService/CanStampOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastWeeksShifts">
      <soap:operation soapAction="http://tempuri.org/ITimeCardService/GetLastWeeksShifts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimeCardService">
    <wsdl:port name="BasicHttpBinding_ITimeCardService" binding="tns:BasicHttpBinding_ITimeCardService">
      <soap:address location="http://localhost:8000/TimeCardService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>